/* Fonts: Oswald, Popins */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@400;700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins';
	font-weight: 400;
	background-color: #222831;
}

ul,
ol {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	max-width: 1065px;
	margin: 0 auto;
}

/* header section */
.header {
	padding: 30px 0;
	border-bottom: 1px solid rgba(203, 202, 202, 0.1);
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .header-logo h3 {
	color: #EEE;
	font-family: "Oswald";
	font-size: 24px;
	font-weight: 700;
}

.header .header-nav ul {
	display: flex;
}

.header .header-nav li {
	list-style: none;
	margin-left: 40px;
}

.header .header-nav a {
	text-decoration: none;
	color: #EEE;
	font-size: 18px;
	font-weight: 400;
	display: inline-block;
}

.header .header-nav a:hover {
	color: #00ADB5;
}

.header .header-nav li:first-child {
	margin-left: 0px;
}

/* intro section */
.intro-section {
	padding-bottom: 98px;
	padding: 30px 0;
	border-bottom: 1px solid rgba(203, 202, 202, 0.1);
}

.intro-section .container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 116px;
}

.intro-section .intro-title {
	margin-top: 127px;
}

.intro-section .intro-title h1 {
	color: #EEE;
	font-size: 96px;
	font-weight: 700;
	line-height: 96px;
	margin-bottom: 48px;
	width: 586px;
}

.intro-section .intro-title h1 span {
	color: #00ADB5;
}

.intro-section .intro-btns {
	display: flex;
}

.intro-section .intro-title .hire-me__btn {
	border-radius: 24px;
	background: #00ADB5;
	padding: 10px 32px;
	color: #EEE;
	font-size: 18px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	margin-right: 24px;
}

.intro-section .intro-title .inter-btn {
	padding: 10px 32px;
	border-radius: 24px;
	background: rgba(57, 62, 70, 0.75);
	border: none;
	color: #EEE;
	font-size: 18px;
	font-weight: 700;
	display: flex;
	cursor: pointer;
	align-items: center;
	gap: 10px;
}

.intro-section .intro-olma {
	width: 480px;
	margin-top: 90px;
}

/* About me section*/

.about-me {
	margin-top: 116px;
}

.about-me .about-me__title {
	color: #EEE;
	font-size: 64px;
	font-weight: 700;
	line-height: 96px;
	margin-bottom: 48px;
	margin-left: 96px;
}

.about-me .about-me__title span {
	color: #00ADB5;
}

.about-me .about-title {
	color: #EEE;
	width: 325px;
	margin-left: 95px;
	margin-top: -62px;
}

.about-me .about-me__img {
	display: flex;
	justify-content: space-between;
	margin-left: 679px;
	margin-top: -260px;
}

/* Work section */
.work-section {
	background-image: url(/images/work-bg.svg);

	margin-top: 116px;
	margin-bottom: 34px;
}

.work-section .work-title h1 {
	color: #EEE;
	font-size: 64px;
	font-weight: 700;
	line-height: 96px;
	margin-left: -60px;
}

.work-section .work-title span {
	color: #00ADB5;
}

.work-section .btn-one {
	border-radius: 24px;
	background: #00ADB5;
	padding: 5px 23px;
	border: none;
	cursor: pointer;
}

.work-section .btn-two {
	border-radius: 24px;
	padding: 5px 23px;
	background-color: #2C323B;
	border: none;
	cursor: pointer;
}

.work-section .btn-three {
	border-radius: 24px;
	padding: 5px 23px;
	background-color: #2C323B;
	border: none;
	cursor: pointer;
}

.work-section .work-btns {
	margin-left: -56px;
	margin-top: 16px;

}

.work-section .work-boxes {
	display: flex;
	justify-content: space-between;

	margin-top: 48px;
}

.work-section .work-boxes .work-box__one {
	margin-right: 23px;
	margin-left: 40px;
}

.work-section .work-boxes .work-box__two {
	margin-right: 23px;
}

.work-section .work-boxes .work-box__three {
	margin-right: 39px;
}

/* Mind section */

.mind-section .container {
	margin-bottom: 100px;
	padding-bottom: 98px;
	padding: 30px 0;
	border-bottom: 1px solid rgba(203, 202, 202, 0.1);
}

.mind-section .mind-title h1 {
	color: #EEE;
	font-size: 64px;
	font-weight: 700;
	line-height: 96px;
	margin-left: -60px;
	width: 717px;
	margin-bottom: -26px;
	margin-right: 0;
}
.mind-section .mind-img {
	margin-left: 118px;
}

.mind-section .mind-title span {
	color: #00ADB5;
}

.mind-section .input-name {
	padding: 5px 16px;
	width: 250px;
	height: 40px;
	border-radius: 16px;
	background: rgba(57, 62, 70, 0.50);
	border: none;
	margin-top: 10px;
	color: #EEE;
	margin-left: -150px;
	outline: none;
}
.mind-section .input-email {
	padding: 5px 16px;
	width: 250px;
	height: 40px;
	border-radius: 16px;
	color: #EEEEEE80;
	background: rgba(57, 62, 70, 0.50);
	border: none;
	margin-top: 10px;
	outline: none;
}

.mind-section .mind-send h2 {
	color: #EEE;
	margin-left: -146px;
	margin-top: 23px;
	
}

.mind-section .mind-send__email h2 {
	color: #EEEEEE80;
	margin-left: 0;
	
}

.mind-section .mind-send__email {
	margin-left: 165px;
	margin-top: -87px;
}

.mind-section .mind-send__message .mind-message {
	display: flex;
	height: 280px;
	padding: 16px 245px 16px 24px;
	color: rgba(238, 238, 238, 0.50);
	margin-top: 10px;
	background: rgba(57, 62, 70, 0.50);
	border: none;
	border-radius: 16px;
}

.mind-section .mind-send__message h2 {
	color: #EEE;
}

.mind-section .send-button .send-message {
	background: #00ADB5;
	display: flex;
	padding: 10px 32px;
	align-items: center;
	gap: 10px;
	border-radius: 24px;
	border: none;
}

.mind-section .send-button img {
	margin-left: 203px;
	margin-top: -12px;
}

.mind-section .send {
	margin-left: 720px;
	margin-top: -460px;
}

/* Footer section */
.footer-section .container {
	width: 1440px;
	height: 219px;
	margin: 0 ;
}

.footer-section .footer-img {
	margin-left: 320px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-section .footer-social_media {
	margin-left: 450px;
	margin-top: 35px;
	margin-bottom: 35px;
}
.footer-section 
.footer-section .media-1 {
	margin-right: 25px;
}
.footer-section .media-2 {
	margin-right: 25px;
}
.footer-section .media-two{
	margin-right: 25px;
}
.footer-section .media-3 {
	margin-right: 25px;
}



