/* Fonts: Oswald, Popins */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@400;700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins';
	font-weight: 400;
	background-color: #222831;
}

ul,
ol {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	max-width: 1065px;
	margin: 0 auto;
}

/* header section */
.header {
	padding: 30px 0;
	border-bottom: 1px solid rgba(238, 238, 238, 0.10);
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .header-logo h3 {
	color: #EEE;
	font-family: "Oswald";
	font-size: 24px;
	font-weight: 700;
}

.header .header-nav ul {
	display: flex;
}

.header .header-nav li {
	list-style: none;
	margin-left: 40px;
}

.header .header-nav a {
	text-decoration: none;
	color: #EEE;
	font-size: 18px;
	font-weight: 400;
	display: inline-block;
}

.header .header-nav a:hover {
	color: greenyellow;
}

.header .header-nav li:first-child {
	margin-left: 0px;
}

/* intro section */
.intro-section {
	padding-bottom: 98px;
}

.intro-section .container {
	display: flex;
	justify-content: space-between;
}

.intro-section .intro-text {
	margin-top: 127px;
}

.intro-section .intro-text h1 {
	color: #EEE;
	font-size: 96px;
	font-weight: 700;
	line-height: 96px;
	margin-bottom: 48px;
}

.intro-section .intro-text h1 span {
	color: #00ADB5;
}

.intro-section .intro-btns {
	display: flex;
}

.intro-section .intro-text .hire-me__btn {
	border-radius: 24px;
	background: #00ADB5;
	padding: 10px 32px;
	color: #EEE;
	font-size: 18px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	margin-right: 24px;
}

.intro-section .intro-text .download-btn {
	padding: 10px 32px;
	border-radius: 24px;
	background: rgba(57, 62, 70, 0.75);
	border: none;
	color: #EEE;
	font-size: 18px;
	font-weight: 700;
	display: flex;
	cursor: pointer;
	align-items: center;
	gap: 10px;
}

.intro-section .intro-img {
	width: 480px;
	margin-top: 90px;
	margin-right: -146px;
}

/* About section */

.about-section {
	padding-bottom: 227px;
}

.about-section .container {
	display: flex;
	justify-content: space-between;
}

.about-section .about-text {
	margin-top: 127px;
	color: black;
	color: rgba(238, 238, 238, 0.75);
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	
}

.about-section .about-text h1 {
	color: #EEE;
	font-size: 96px;
	font-weight: 700;
	line-height: 96px;
	margin-bottom: 48px;
	margin-top: -64px;

}

.about-section .about-text h1 span {
	color: #00ADB5;
	margin-top: -64px;
	margin-left: 19px;
}


.about-section .about-btns {
	display: flex;
	width: 50px;
}

.about-section .intro-img {
	width: 480px;
	margin-left: 120px
}

.about-me {
	color: #EEE;
	font-size: 64px;
	font-weight: 400;
	line-height: 100px;
	margin-bottom: 48px;
	margin-top: 32px;
}

.about-me h1 span {
	color: #00ADB5;
}

.about-section .intro-img p {
	color: rgba(238, 238, 238, 0.75);
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: -444px;
	margin-left: -723px;
	width: 465px;
}

/* works section */
.works section {
	padding-bottom: 200px;
}

.works-section .container {
	display: flex;
	height: 877px;
	margin-left: 2700px;
	background-repeat: no-repeat;
    background-size: cover;
}

.my-recent_works {
	color: var(--Color-3, #EEE);
	font-family: Poppins;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background-image: url(../images/works-image.png);
	width: 5363px;
	margin-left: -2829px;
}

.my-recent_works span {
	color: var(--Color-3, #00ADB5);
	font-family: Poppins;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 30px;
}

.my-recent_works h2 {
	margin-left: 669px;
	margin-top: 292px;
}

.works-section .container {
	width: 1440px;
	height: 779px;
}

.work-btns {
	display: flex;
	padding: 10px 32px;
	align-items: flex-start;
	gap: 10px;
	border: none;
}

.all-btn {
	border-radius: 47px;
	background: var(--Color-3, #00ADB5);
	border: none;
	height: 45px;
	width: 77px;
	margin-top: 440px;
	color: #EEE;
	font-family: 'Poppins';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	cursor: pointer;
	margin-left: -4726px;
}

.ui-btn {
	border-radius: 47px;
	background: rgba(57, 62, 70, 0.50);
	backdrop-filter: blur(4px);
	border: none;
	margin-top: 440px;
	width: 77px;
	height: 45px;
	color: #EEE;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	cursor: pointer;
}

.ux-btn {
	border-radius: 47px;
	background: rgba(57, 62, 70, 0.50);
	backdrop-filter: blur(4px);
	border: none;
	margin-top: 440px;
	width: 77px;
	height: 45px;
	color: #EEE;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	cursor: pointer;
}

.web-design_btn {
	border-radius: 47px;
	background: rgba(57, 62, 70, 0.50);
	backdrop-filter: blur(4px);
	border: none;
	margin-top: 440px;
	height: 45px;
	width: 167px;
	color: #EEE;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	cursor: pointer;
}

.work-images {
	margin-left: -4757px;
	margin-top: 557px;
}

.work-images__2 {
	margin-top: 557px;
	margin-left: 100px;
}

.work-images__3 {
	margin-top: 559px;
	margin-left: 100px;
}

